@charset "UTF-8";

@font-face {
    font-family: 'f-g';
    src: url('/fonts/Handlee.ttf') format('opentype');
    font-weight: normal;
}
:root {

    --cor0:#3912a4d8;
    --cor1:#8A30FF;
    --cor2:#0D56FF;
    --cor3:#1D10EB;
    --cor3:#BB07E6;
    --cor5:#FF5DC8;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: 'Handlee', cursive;
    --font-android: 'f-g' , cursive;
}

* {
    margin: 0px;
    padding: 0px;

}

/*
---------------------------------------------------------------------
           degrade-animado
.box-degrade{
    width: 100%;
    padding: 300px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to left, #3912a4d8, #8A30FF, #0D56FF, #1D10EB, #BB07E6,#FF5DC8)
    background-size: 500% 100%;
    animation: degrade-animado 5s infinite alternate;
}
.box-degrade h1 {
    color: white;
    font-weigth: lighter;

}


@keyframes degrade-animado {
    0% {
    background-position-x: 0% ;
    }
    100% {
    background-position-x: 100%;
    }

}
-----------------------------------------------------------------------

                background com gradiente animado    

.gradiente {
  display: flex;
  align-items: center;
  justify-content: center;
  heigth: 100vh;
  width: 100vh;
  background: linear-gradient(#3912a4d8, #8A30FF, #0D56FF, #1D10EB, #BB07E6,#FF5DC8)
  background-size: 300% 300%;
  animation: colors 15s ease infinite;

}

@keyframes colors {
    0% {
    background-position: 0% 50%;
    }
    50% {
    background-position: 100% 50%;
    }
    100% {
    background-position: 0% 50%;
}
}
-----------------------------------------------------------------------
*/

body {
    background-color: var(--cor1);
}

header {
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor5));
    min-height: 220px;
    text-align:center;
    padding-top: 40px;
    }

header > div {
    background-image: url('imagens/edit\ 59.JPG');
    height: 200px;
    border: 1px solid black;
    border-radius: 20px;
    max-width: 100%;
}

header > h1 {

    color: var(--cor1);
    font-family: var(--font-destaque);
    font-size: 4em;
    font-weight: normal;
    margin-bottom: 40px;
    text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.516);

}
header > p {
    color: var(--cor3);
    font-size: 1.5em;
}

nav {
    background-color: var(--cor0);
    padding: 10px;
    box-shadow: 0px 7px 9px #5416a1;
}

nav > a {
    color:var(--cor5);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.2s;
    }
main {
    
}


